<div class="row">
	<div class="col-12">
		<h3>フォロワーユーザー一覧</h3>
	</div>
</div>

<% @users.each do |user| %>
<table>
		<tr>
			<td><%= attachment_image_tag user, :image, :fill, 100, 100, fallback: 'no_image.jpg', size: '100x100', class: "radius" %></td>
			<td><%= "#{user.last_name}#{user.first_name}" %></td>
			<td><%= user.introduction %></td>
			<td>
				<% if user != current_user %>
					<div class="follows_buttons_<%= user.id %>">
						<%= render partial: 'users/relationships/follow_button', locals: { user: user} %>
					</div>
				<% end %>
			</td>
		</tr>
</table>
<% end %>