<div class="row">
	<div class="col-md-12">
		<h3><%= @name %>の投稿一覧</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-lg-4 col-xl-3">

		<div class="row">
			<div class="col-12 photo" style="width: 100%;">
				<%= attachment_image_tag @user, :image, :fill, 300, 200, fallback: 'no_image.jpg', size: '300x200' %>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<%= "#{@user.last_name}#{@user.first_name}" %>　<%= "(#{@user.read_last_name}#{@user.read_first_name})" %>
			</div>
		</div>
		<div class="row">
			<div class="col-11" style="margin: 0 auto; height: auto;">
				<%= @user.introduction %>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="follow_counts_<%= @user.id %>">
					<%= render partial: 'users/relationships/follow_counts', locals: { user: @user} %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-6">
				<% if @user != current_user %>
					<div class="follows_buttons_<%= @user.id %>">
						<%= render partial: 'users/relationships/follow_button', locals: { user: @user} %>
					</div>
				<% else %>
					<%= link_to edit_user_path(current_user), class: "btn btn-sm btn-outline-secondary", style: "width:120px;" do %>
						<i class="fas fa-wrench"></i>
					<% end %>
				<% end %>
			</div>
			<div class="col-2">🔔</div>
		</div>

	</div>

	<div class="col-md-8 col-lg-8 col-xl-9">
		<% @photos.each do |photo| %>
			<%= link_to photo_path(photo.id), style: "color: black;" do %>
				<div class="col-md-12 col-lg-5 col-xl-3 frame">
					<div class="row">
						<div class="col-12">
							<%= attachment_image_tag photo, :image, :fill, 300, 200 %>
						</div>
					</div>
					<div class="row" style="margin-top: 1%;">
						<div class="col-12">
							<%= l photo.created_at %>
						</div>
					</div>
					<div class="row" style="margin-top: 1%;">
						<div class="col-12 over-text">
							<%= photo.word %>
						</div>
					</div>
					<div class="row" style="margin-top: 1%;">
						<div class="col-4" style="text-align: left; padding-left: 10%;">
								<i class="far fa-heart">:<%= photo.likes.count %></i>
						</div>
						<div class="col-4" style="text-align: center;">
							<i class="far fa-comments">:<%= photo.comments.count %></i>
						</div>
						<div class="col-4" style="text-align: right; padding-right: 10%;">
							<i class="far fa-eye">:〇</i>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>

</div>
