<div class="row">
	<div class="col-12">
		<h3>新規投稿</h3>
	</div>
</div>

<%= form_with model: @photo, local: true do |f| %>

	<div class="row">
		<div class="col-sm-8 col-md-6 col-lg-4">
			<label>
				<div class="row">
					<div class="col-12">

						<%= attachment_image_tag @photo, :image, :fill, 300, 200, fallback: 'no_image_photo.jpg', size: '300x200', id: 'img_prev' %>
					</div>
				</div>
				<div class="row">
					<div class="col-10 btn btn-primary btn-md" style="margin: 20px auto;">
						画像選択<%= f.attachment_field :image, style: 'display: none;', id:'photo_img' %>
					</div>
				</div>
			</label>
		</div>

		<div class="col-md-6 col-lg-4">
		<!-- ↑余裕があればpositionで設定 -->

			<div class="form-row">
				<div class="col-12">
					<%= f.text_area :word, placeholder: "一言(３０文字以内)", class: "form-control", id: "input-text" %>
          <p style="text-align: right;" id="counter">0/30</p>
				</div>
			</div>
			<div class="form-row">
				<div class="col-12">
          <%= f.text_field :tag_list, placeholder: "タグ入力 (例)動物 犬 かわいい", value: @photo.tag_list, class: "form-control" %>
				</div>
			</div>
			<div class="form-row">
				<div class="col-8">
					<%= f.select :range, [["全ユーザー","全ユーザー"],["フォロワーのみ","フォロワーのみ"],["自分のみ","自分のみ"]], {include_blank: "-- 公開範囲の選択 --"}, {class: "form-control", style: "width: 100%;"} %>
				</div>
				<div class="col-4">
					<%= f.submit '投稿する', class: "btn btn-success", style: "width: 100%" %>
				</div>
			</div>
		</div>
<% end %>



<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#photo_img").change(function(){
        readURL(this);
    });
  });

  $(function(){
  $("#input-text").on("keyup", function() {
    let countNum = String($(this).val().length);
    if(countNum>30){
      $("#counter").text(countNum + "/30").css("color", "red");
    }else {
      $("#counter").text(countNum + "/30").css("color", "");
    }
 });
});
</script>