<div class="row">
	<div class="col-12">
		<h3>投稿詳細</h3>
	</div>
</div>

		<div class="row">
			<div class="col-md-5 col-lg-4 frame">
				<div class="row">
					<div class="col-3">
						<%= link_to user_path(@user) do %>
							<%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: 'no_image.jpg', size: '100x100', class: "radius" %>
						<% end %>
					</div>
					<div class="col-9" style="margin: auto 0;">
						<%= link_to user_path(@user), style: "color: black; text-decoration: none;" do %>
							<%= "#{@user.last_name}#{@user.first_name}" %>
						<% end %>
					</div>
				</div>
				<div class="row">
						<%= attachment_image_tag @photo, :image, :fill, 300, 200, class: "photo"; %>
				</div>
				<div class="row" style="margin-top: 1%;">
					<div class="col-12">
						<%= l @photo.created_at %>
					</div>
				</div>
				<div class="row" style="margin-top: 1%;">
					<div class="col-12">
						<%= @photo.word %>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<% @photo.tag_list.each do |tag| %>
							<%= link_to photos_path(tag_name: tag), class: "text-white btn btn-success btn-sm p-1" do %>
								<%= tag %>
							<% end %>
						<% end %>
					</div>
				</div>
				<%if @user == current_user %>
					<%= form_with model: @photo, local: true do |f| %>
					<%= f.hidden_field :user_id, :value => @photo.user_id %>
					<%= f.hidden_field :image, :value => @photo.image %>
					<%= f.hidden_field :word, :value => @photo.word %>
					<div class="row">
						<div class="col-8">
							<%= f.select :range, [["全ユーザー","全ユーザー"],["フォロワーのみ","フォロワーのみ"],["自分のみ","自分のみ"]], {}, {class: "form-control", style: "width: 100%;"} %>
						</div>
						<div class="col-4">
							<%= f.submit '更新', class: "btn btn-primary", style: "width: 100%" %>
						</div>
					</div>
					<% end %>
				<% end %>
				<div class="row" style="margin-top: 1%;">
					<div class="col-3" style="text-align: center;">
						<div class="likes_counts_<%= @photo.id %>">
							<%= render partial: 'users/likes/like_counts', locals: { photo: @photo} %>
						</div>
					</div>
					<div class="col-3" style="text-align: center;">
						<%= link_to photo_comments_path(@photo), style: "color:black;" do %>
							<i class="far fa-comments">:<%= @photo.comments.count %></i>
						<% end %>
					</div>
					<div class="col-3" style="text-align: center;">
						<i class="far fa-eye">:<%= @photo.impressions_count %></i>
					</div>
					<div class="col-3" style="text-align: center;">
						<% if @user == current_user %>
							<%= link_to photo_path(@photo), style: "color: gray;", method: :delete, "data-confirm" => "投稿を削除します。よろしいですか？" do %>
								<i class="far fa-trash-alt"></i>
							<% end %>
						<% else %>
							<div class="likes_buttons_<%= @photo.id %>">
									<%= render partial: 'users/likes/like', locals: { photo: @photo} %>
							</div>
						<% end %>
					</div>
				</div>
			</div>

		<div class="col-md-5 col-lg-4">
		<!-- ↑余裕があればpositionで設定 -->

			<%= form_with(model: [@photo, @comment], local: true) do |f| %>
			<div class="form-row">
				<div class="col-12">
					<%= f.text_area :comment, placeholder: "コメント", class: "form-control" %>
				</div>
			</div>
			<div class="form-row">
				<div class="col-12">
					<%= f.submit 'コメントする', class: "btn btn-primary", style: "width: 100%" %>
				</div>
			</div>
			<% end %>
		</div>