<!DOCTYPE html>
<html>
  <head>
    <title>Flip Flap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/fb62a1856a.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: ivory;">

    <nav class="navbar navbar-expand-md" style="background-color: burlywood">
      <a class="navbar-brand" href="#" style="margin: 0 auto">Flip Flap</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="Navber">

        <% if user_signed_in? %>
          <ul class="navbar-nav mr-auto"></ul>
          <ul class="navbar-nav">
           <li class="nav-item">
            <%= link_to user_path(current_user), class: "nav-link" do %>
             <i class="fas fa-user"> マイページ</i>
            <% end %>
            </li>
            <li class="nav-item">
              <%= link_to photos_path, class: "nav-link" do %>
                <i class="fas fa-images"> 投稿一覧</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_photo_path, class: "nav-link" do %>
                <i class="fas fa-edit"> 投稿する</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                <i class="fas fa-sign-out-alt"> ログアウト</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_contacts_path, class: "nav-link" do %>
                <i class="fas fa-envelope"> お問い合わせ</i>
              <% end %>
            </li>
          </ul>

        <% else %>

        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Topページ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/homes/about">Flip Flapとは？</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">ログイン</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_up">新規登録</a>
          </li>
        </ul>

        <% end %>

      </div>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
